In [8]:
import pandas as pd 
import numpy as np

In [9]:
df = pd.read_excel('weather.xlsx')

In [10]:
df.head(2)

   Day Outlook Temperature Humidity    Wind Play
0    1   Sunny         Hot     High    Weak   No
1    2   Sunny         Hot     High  Strong   No

In [11]:
for i in df:
    print("*",i,"*")
    print(df[i].unique())

* Day *
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
* Outlook *
['Sunny' 'Overcast' 'Rain']
* Temperature *
['Hot' 'Mild' 'Cool']
* Humidity *
['High' 'Normal']
* Wind *
['Weak' 'Strong']
* Play *
['No' 'Yes']

# Marginal Probabilities(individual column)

### what is the probability of getting rain tommorow

In [12]:
sum(df['Outlook']=='Rain')

5

In [13]:
len(df)

14

In [14]:
sum(df['Outlook']=='Rain')/len(df)

0.35714285714285715

In [15]:
## way 2
df['Outlook'].value_counts()

Outlook
Sunny       5
Rain        5
Overcast    4
Name: count, dtype: int64

In [16]:
df['Outlook'].value_counts(normalize=True)

Outlook
Sunny       0.357143
Rain        0.357143
Overcast    0.285714
Name: proportion, dtype: float64

In [17]:
df['Outlook'].value_counts(normalize=True)[1]

C:\Users\Admin\AppData\Local\Temp\ipykernel_7492\349765868.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['Outlook'].value_counts(normalize=True)[1]

np.float64(0.35714285714285715)

In [18]:
df['Outlook'].value_counts(normalize=True).loc['Rain']

np.float64(0.35714285714285715)

### What is the probability of playing cricket tommorow?

In [19]:
df['Play'].value_counts(normalize=True).loc['Yes'] # label base accesing

np.float64(0.6428571428571429)

### What is the Probability that temperature is not cool tommorow?

In [20]:
1 - df['Temperature'].value_counts(normalize=True).loc['Cool']

np.float64(0.7142857142857143)

### Joint Probabilites ( and | or) - Multiple Columns

### what is the probability of playing cricket and temparature is hot?

In [21]:
sum((df['Play']=='Yes') & (df['Temperature']=='Hot'))/len(df)

0.14285714285714285

In [22]:
pd.crosstab(index=df['Play'],columns=df['Temperature'],normalize=True)

Temperature      Cool       Hot      Mild
Play
No           0.071429  0.142857  0.142857
Yes          0.214286  0.142857  0.285714

In [23]:
pd.crosstab(index=df['Play'],columns=df['Temperature'],normalize=True).loc['Yes']['Hot']

np.float64(0.14285714285714285)

### what is the probability of humidity is normal and temerature is cool?

In [24]:
pd.crosstab(index=df['Humidity'],columns=df['Temperature'],normalize=True).loc['Normal']['Cool']

np.float64(0.2857142857142857)

## Conditional Probability -- one is happend , what is the chance of other event

## what is probability of playing cricket if it is raining

In [25]:
pd.crosstab(index=df['Play'],columns=df['Outlook'],normalize=True)

Outlook  Overcast      Rain     Sunny
Play
No       0.000000  0.142857  0.214286
Yes      0.285714  0.214286  0.142857

In [26]:
pd.crosstab(index=df['Play'],columns=df['Outlook'],normalize='columns').loc['Yes']['Rain']

np.float64(0.6)

## what is the probability of not playing cricket when humidity is high ?

In [27]:
pd.crosstab(index=df['Humidity'],columns=df['Play'],normalize='index')

Play            No       Yes
Humidity
High      0.571429  0.428571
Normal    0.142857  0.857143

In [28]:
pd.crosstab(index=df['Humidity'],columns=df['Play'],normalize='index').loc['High']

Play
No     0.571429
Yes    0.428571
Name: High, dtype: float64

In [29]:
pd.crosstab(index=df['Humidity'],columns=df['Play'],normalize='index').loc['High']['No']

np.float64(0.5714285714285714)